.container {
  width: 100%;
  height: 100%;
  background-color: #fe5395;
}

.header {
  display: flex;
  background-color: #d04379;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  font-size: 28px;
}

.header button {
  margin: 20px 22px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.header button:hover {
  color: rgb(216, 216, 216);
}

.icons {
  margin: 20px;
  color: white;
}

.icon {
  margin: 0 20px;
}

.header-text {
  margin: 19px;
  color: white;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.details {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  width: 100%;
  background-color: #fe5395;
}

.release {
  background-color: #fe5395;
  width: 100%;
}

.genre {
  background-color: #d04379;
  width: 100%;
}

.platform {
  background-color: #fe5395;
  width: 100%;
}

.developer {
  background-color: #d04379;
  width: 100%;
}

.publisher {
  background-color: #fe5395;
  width: 100%;
}

.description {
  background-color: #d04379;
  text-align: left;
  padding: 0 20%;
}

img {
  width: 45%;
  height: 35%;
}
