.container {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  background-color: #d04379;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  font-size: 28px;
}

.icons {
  margin: 20px;
  color: white;
}

.icon {
  margin: 0 20px;
}

.header-text {
  margin: 20px;
  color: white;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 99.5%;
  height: 128px;
  font-size: 24px;
  border: 2px solid black;
  position: relative;
  z-index: 1;
}

.filters::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/gamesBg.jpeg");
  background-size: contain;
  opacity: 0.2;
  z-index: -1;
}

.filters::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fe5395;
  z-index: -2;
}

.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
}

.games:nth-child(4n + 1),
.games:nth-child(4n) {
  background-color: #fe5395;
}

.games:nth-child(4n + 3),
.games:nth-child(4n + 2) {
  background-color: #d04379;
}

.games-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.games a {
  font-size: xx-large;
  width: 100%;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.games:hover {
  border: 2px solid #fff;
}

.no-games {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
}

/* @media screen and (min-width: 768px) {
  .games {
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .games {
    height: 240px;
  }
} */

@media screen and (min-width: 1490px) {
  .games {
    height: 180px;
  }

  .filters {
    width: 99.8%;
  }
}
