.container {
  width: 100%;
  height: 100%;

}
.header {
  display: flex;
  background-color: rgb(82, 1, 157);
  width: 100%;
  height: 70px;
  justify-content: space-between;
  font-size: 28px;
}

.icons{
  margin: 20px;
  color: white;
}
.icon{
  margin: 0 20px;
}
.header-text{
  margin:20px;
  color: white;
}
.filters{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  margin: 10px;
}
.games-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.games {
  width: 100%;
}
.games img {
  width: 100%;
}
.games:hover {
  border: 2px solid #fff;
}
@media (min-width: 768px) {
  .games-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .games-container {
    grid-template-columns: repeat(4, 1fr);
    
  }
}
